taskflowgo.duckdns.org {

    encode gzip

    reverse_proxy auth-gateway:8080

    header {
        Strict-Transport-Security "max-age=31536000"
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
        Referrer-Policy strict-origin-when-cross-origin
    }
}
